.card{
    max-width: 12%;
}

h1{
    color:white
}

.icon{
    color:white
}

.background{
    background-color:black;
    height:100vh;
}

.timer-row{
    min-width:300px;
    height: 200px;
}

.col-dot{
    max-width: 1px;
    display: flex;
    flex-direction: column-reverse;
}

.time-digit{
    font-size: 100px;
}